#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    gap: 1.125rem;
    width: 100%;
    padding: 0.9375rem;
    background-color: var(--color-neutral-0);
    box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    max-width: 18.75rem;
}

.dish-heart {
    position: absolute;
    background-color: #512615;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #E6D7B3;
    width: 4.375rem;
    height: 4.375rem;
    right: -0.625rem;
    top: -0.625rem;
    border-radius: 0 2.34375rem 0 2.65625rem;
}

.dish-image {
    width: 18.75rem;
    height: 9.375rem;
    object-fit: fill;
}

.dish-description {
    flex-grow: 1;
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: #512615;
}

.dish-price {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
